<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Портал PyLavaigun</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static "css/stylesheet.css" %}" />
    </head>
    <body>


        <ul>
            <li><a href="">Меню f</a></li>
            <li><a href="#">Меню s</a></li>
            <li><a href="#">Меню 3</a></li>
            <li><a href="#">Меню 4</a></li>
        </ul>
            {% block content %}
            {% endblock %}

    </body>